@import '../../../variables.scss';

.Card {
    background-color: $white;
    border: $border-card;
    border-radius: 3rem 0 3rem 0;
    color: $black;
    margin: 1rem;
    min-height: 35rem;
    min-width: 25rem;
    max-width: 25rem;

    .card-header {
        align-items: center;
        display: flex;
        border-bottom: 0.2rem groove $background-dark;
        font-size: 1.8rem;
        justify-content: space-around;

        .card-title {
            flex: 2;
            text-align: center;
        }

        .button-container {
            background-color: $black;
            border: none;
            border-left: 0.2rem groove $background-dark;
            height: 4rem;
            width: 4rem;
            .mark-favorite {
                background-color: transparent;
                background-image: url('../../../Images/Icons/death-star-white.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 3rem;
                border: none;
                height: 4rem;
                width: 4rem;
                transition: transform 0.5s ease, background-size 0.1s ease;

                &:hover {
                    background-image: url('../../../Images/Icons/death-star-yellow.svg');
                    transform: rotate(-45deg)
                }

                &:active {
                    background-image: url('../../../Images/Icons/death-star-yellow.svg');
                    background-size: 2.5rem;
                }
            }
            .current-favorite {
                background-image: url('../../../Images/Icons/death-star-yellow.svg');
            }

        }
    }

    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-data-set {
            padding: $padding-small;
        }
    }
}

.selected-favorite {
    transition: border 0.5s ease, color 0.5s ease;
    background-image: url('../../../Images/stars.jpg');
    border: $border-card-selected;
    color: $white;
}