@import '../../../variables.scss';

.Header {
    background: url('../../../Images/stars.jpg');
    background-size: contain;
    color: $accent-color;
    display: flex;
    flex: 1;
    font: {
        family: $accent-font;
        size: 500%;
        weight: 600;
    }
    justify-content: center;
    letter-spacing: 0.6rem;
    line-height: 150%;
    overflow: hidden;
    padding:$padding-standard;
    perspective: 40rem;
    text-align: justify;

    .crawl {
        position: relative;
        top: -10rem;
        transform-origin: 50% 100%;
        animation: crawl 90s linear;
        animation-iteration-count: infinite;

        .title {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}

@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }

    100% {
        top: -600rem;
        transform: rotateX(25deg) translateZ(-250rem);
    }
}