@import '../../../variables.scss';

.button {
    border: none;
    padding: $padding-small;
}

.category {
    align-items: center;
    background-color: $button-category;
    border: 2px solid $white;
    border-radius: 0.3rem;
    color: $white;
    display: flex;
    font-size: 1.8rem;
    justify-content: space-around;
    transition: background-color 0.1s ease;
    width: 15rem;

    &:hover {
        background-color: $button-hover;
    }

    .category-button-image-people,
    .category-button-image-planets,
    .category-button-image-vehicles {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 3rem;
        width: 3rem;
        height: 3rem;
    }

    .category-button-image-people {
        background-image: url('../../../Images/Icons/people-selected.svg');
    }

    .category-button-image-planets {
        background-image: url('../../../Images/Icons/planets-selected.svg');
    }

    .category-button-image-vehicles {
        background-image: url('../../../Images/Icons/vehicles-selected.svg');
    }
}

.selected {
    background-color: $background-dark;
}

.favorites {
    background-color: $white;
    position: absolute;
    top: 4rem;
    right: 4rem;

    .counter {
        background-color: $background-dark;
        color: $white;
        padding: 0.5rem;
    }
}