@import '../../../variables.scss';

.button {
    border: none;
    padding: $padding-small;
}

.category {
    background-color: $button-category;
    border: 2px solid $white;
    border-radius: 0.3rem;
    color: $white;
    display: flex;
    justify-content: space-around;
    width: 15rem;

    .category-button-image-people,
    .category-button-image-planets,
    .category-button-image-vehicles {
        width: 2rem;
        height: 2rem;
    }

    .category-button-image-people {
        background-image: url('../../../Images/Icons/people-selected.svg');
    }

    .category-button-image-planets {
        background-image: url('../../../Images/Icons/planets-selected.svg');
    }

    .category-button-image-vehicles {
        background-image: url('../../../Images/Icons/vehicles-selected.svg');
    }
}

.selected {
    background-color: $background-dark;
}

.favorites {
    background-color: $white;
    position: absolute;
    top: 4rem;
    right: 2rem;

    .counter {
        background-color: $background-dark;
        color: $white;
        padding: 0.5rem;
    }
}