@import '../../../variables.scss';

.SideBar {
    background: url('../../../Images/stars-2.jpg');
    background-size: contain;
    color: $accent-color;
    flex: 1;
    font: {
        family: $accent-font;
        size: 2rem;
    }
    padding:$padding-standard;
}