@import '../../../variables.scss';

.card-container {
    background-color: $background-dark;
    color: $background-light;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: $padding-small;

    &:after {
        content: '';
        flex: auto;
    }

    .placeholder {
        align-self: center;
        font-size: 3.2rem;
    }
}