@import '../../../variables.scss';

.card-container {
    background-color: $background-dark;
    color: $background-light;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    padding: $padding-small;

    .placeholder {
        align-self: center;
        font-size: 3.2rem;
        height: -webkit-fill-available;
        margin-top: 3rem;
    }
}