@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

//Typefaces
$main-font: 'Open Sans', sans-serif;
$accent-font: 'Raleway', sans-serif;

//Colors
$main-color-dark: #6D6E71;
$main-color-light: #939598;

$accent-color: rgb(2, 159, 180);
$accent-color-bright: rgb(0, 231, 216);
$accent-color-hover: #045E55;

$selected: rgba(0, 251, 255, 0.09);
$background-color: #E5F3F2;
$border-color: #D1D3D4;

$high-score: rgb(0, 204, 68);
$mid-high-score: rgb(226, 204, 0);
$mid-low-score: rgb(223, 148, 0);
$low-score: rgb(161, 0, 0);

$black: #000;
$white: #FFF;