@import url('https://fonts.googleapis.com/css?family=Open+Sans|News+Cycle');

//Typefaces
$main-font: 'Open Sans', sans-serif;
$accent-font: 'News Cycle', sans-serif;

//Colors
$accent-color: #FFD700;
$accent-color-bright: rgb(0, 231, 216);
$accent-color-hover: #045E55;

$background-dark: rgb(29, 31, 37);
$background-light: rgb(204, 213, 228);

$button-category: rgb(66, 76, 92);

$selected: rgba(0, 251, 255, 0.09);
$background-color: #E5F3F2;
$border-color: rgb(95, 95, 95);

$black: #000;
$white: #FFF;

//Bounding Box
$border-bottom: 0.1rem solid $border-color;
$border-card: 0.3rem solid $black;
$border-card-selected: 0.3rem solid $accent-color;

$padding-small: 1rem;
$padding-standard: 2rem;